  @{include("./../Commons/header-common.i")}

  <link rel='canonical' href='@{siteAddress}/Arcadia/news'>
  <title>News</title>
  <style>
    div.news-item {
      display: flex;
      flex-direction: row;
    }
    .news {
      display: flex;
      flex-direction: column;
      row-gap: 6rem;
      column-gap: 6rem;
    }
    .news-item-body {
      margin-top: 0.25rem;
    }
    .news-item-header > h2 {
      margin: 0 !important;
      margin-right: 2rem !important;
    }
  </style>
</head>
<body class="my-content-page-1">
  <header>
    <div class="navigation breadcrumbs">
      <a href="@{siteAddress}/">Home</a>
    </div>
  </header>
  <main>
    <div class="left-column"></div>
    <div class="center-column">
    <h1>News</h1>
    
    <div class="news">
    @{include("./News/news-2025-12-24.i")}
    @{include("./News/news-2025-12-07.i")}
    @{include("./News/news-2024-02-11.i")}
    @{include("./News/news-2023-12-23.i")}
    @{include("./News/news-2023-10-23.i")}
    @{include("./News/news-2023-10-13.i")}
    </div>
    
  </div>

  </div>
  <div class="right-column"></div>
  </main>
  <footer>
    <div class="left-column"></div>
    <div class="center-column"></div>
    <div class="right-column">
      <div>Website maintained by @{siteAuthor}.</div>
      <div>Last modified on @{dayOfMonth()} @{monthName()} @{year()}.</div>
    </div>
  </footer>
</body>
</html>
