  @{include("./../../Commons/header-common.i")}

  <style>
  </style>

  <link rel='canonical' href='@{siteAddress}/information-security/book/index.html'>  
  <title>Information Security</title>
</head>

  <body class="my-content-page-1">
    <header>
      @{include("./../../Commons/mathjax-definitions.i")}
      <div class="navigation breadcrumbs">
        <a href="@{siteAddress}/">Home</a>
      </div>
    </header>
    <main>
      <div class="left-column">
      </div>
      
      <div class="center-column">
      
      <h1>Information Security</h1>
      <div class="abstract">
      </div>
      
    @{include("./01-introduction.i")}
      
      </div>
      <div class="right-column">
        <nav>
          <ul style="list-style: none">
          </ul>
        </nav>
      </div>

    </main>
    <footer>
      <div class="left-column"></div>
      <div class="center-column"></div>
      <div class="right-column">
        <div>Website maintained by @{siteAuthor}.</div>
        <div>Last modified on @{dayOfMonth()} @{monthName()} @{year()}.</div>
      </div>
    </footer>
  </body>

</html>
