@{include("header.i")}

<h2>Documentation</h2>
@{include("PixelBuffer.i")}
@{include("PixelBuffer_create.i")}
@{include("PixelBuffer_getHeight.i")}
@{include("PixelBuffer_getLinePadding.i")}
@{include("PixelBuffer_getLineStride.i")}
@{include("PixelBuffer_getNumberOfColumns.i")}
@{include("PixelBuffer_getNumberOfRows.i")}
@{include("PixelBuffer_getPixelFormat.i")}
@{include("PixelBuffer_getWidth.i")}

@{include("PixelFormat.i")}
@{include("PixelFormat_getNumberOfComponents.i")}
@{include("PixelFormat_getNumberOfBytes.i")}

@{include("SampleBuffer.i")}
@{include("SampleBuffer_create.i")}
@{include("SampleBuffer_getLength.i")}
@{include("SampleBuffer_getSampleFormat.i")}
@{include("SampleBuffer_getSampleRate.i")}

@{include("SampleFormat.i")}
@{include("SampleFormat_getNumberOfBytes.i")}

@{include("footer.i")}
