  @{include("./../Commons/header-common.i")}
  <link rel='stylesheet' href='@{siteAddress}/assets/reset.css?v=3'>
  <link rel='stylesheet' href='@{siteAddress}/assets/index.css?v=3'>
  <link rel='canonical' href='@{siteAddress}/assorted-notes/information-security-data-security-and-data-privacy-commonalities-similarities-and-differences'>
  <title>Information Security, Data Security, and Data Privacy - Commonalities, similarities, and differences</title>
</head>
<body class="my-content-page-1">
  <header>
  <div>
  <a href="@{siteAddress}/">Home</a>
  </div>
  </header>
  <main>
    <div class="left-column"></div>
    <div class="center-column">
    
    <h1>Information Security, Data Security, and Data Privacy - Commonalities, similarities, and differences</h1>

      <h2>Relation of information security and data security</h2>

        <h3>The short version</h3>
        <p>What is the relation between information security and data security?</p>

        <p>Data security protects digital data; information security protects all information, and data security lives inside it like a sub-discipline.</p>


      <h2>Relation of information security and data privacy</p>
      
        <h3>The short version</h3>
        <p>What is the relation of "information security" and "data privacy"?</p>

        <p>Data privacy is about how personal data is collected, used, shared, and governed.</p>

        <p>Information security is about protecting data including personal data from unauthorized
        access or damage. You cannot ensure privacy if you cannot ensure security.</p>

        <p>Privacy decides what should happen with personal data.
        Security ensures only the right things can happen.</p>

        <p>They overlap, but they are not the same.</p>

  </div>
  <div class="right-column"></div>
  </main>
  <footer>
    <div class="left-column"></div>
    <div class="center-column">

    </div>
    <div class="right-column">
      <div>Website maintained by @{siteAuthor}.</div>
      <div>Last modified on @{dayOfMonth()} @{monthName()} @{year()}.</div>
    </div>
  </footer>
</body>
</html>
