  @{include("./../Commons/header-common.i")}
  <link rel='stylesheet' href='@{siteAddress}/assets/reset.css?v=3'>
  <link rel='stylesheet' href='@{siteAddress}/assets/index.css?v=3'>
  <link rel='canonical' href='@{siteAddress}/assorted-notes/best-practices-for-access-tokens-angular-edition'>
  <title>Why use refresh tokens - Angular edition</title>
</head>
<body class="my-content-page-1">
  <header>
  <div>
  <a href="@{siteAddress}/">Home</a>
  </div>
  </header>
  <main>
    <div class="left-column"></div>
    <div class="center-column">
    
    <h1>Why use refresh tokens - Angular Edition</h1>
    
    <p>In this article, we briefly explain why refresh tokens are useful.</p>
    
    <p>
    Without refresh tokens, the typical flow is straightforward: the user authenticates, obtains an access token and utilizes the access token to invoke APIs.
    For security, access tokens should be short-lived. But once an access token expires, you’re left with two unappealing options: force the user           to
    re-authenticate or allow clients to exchange the expired access token for a new one.
    </p>
    
    <p>
    Re-authentication hurts usability. The shorter the access-token lifetime, the more often users are asked to log in again—quickly becoming unacceptable from a user-experience standpoint.
    </p>
    
    <p>
    Using an expired access token to obtain a new access token is risky.
    If an attacker manages to obtain a valid access token before it expires, the attacker can also use it to request a new one.
    An attacker has many chances to obtain the access token as it is sent around with each API call.
    The high exposure significantly increases the attack surface.
    </p>
        
    <p>
    Refresh tokens solve this problem. When a user authenticates, the server issues both an access token and a refresh token. The use utilizes the access token to invoke APIs as before.
    When the access token expires, the client does not submit the expired access token; instead, it sends the refresh token to obtain a new access/refresh token pair.
    </p>
    
    <p>
    If an attacker intercepts the expired access token, it’s useless—they can’t exchange it for anything.
    To obtain new tokens, they would need the refresh token.
    But the refresh token is sent only twice: once during the initial authentication and once during token renewal.
    That limited exposure significantly reduces the attack surface.
    </p>
    
  </div>
  <div class="right-column"></div>
  </main>
  <footer>
    <div class="left-column"></div>
    <div class="center-column">

    </div>
    <div class="right-column">
      <div>Website maintained by @{siteAuthor}.</div>
      <div>Last modified on @{dayOfMonth()} @{monthName()} @{year()}.</div>
    </div>
  </footer>
</body>
</html>
