@{include("header.i")}

  <div class="center-column">
  <h1>Michael Heilmann's Arcadia Ring 2</h1>
  <p>
  This is the documentation for Michael  Heilmann's Arcadia Ring 2.
  Arcadia Ring 2 facilitates the creation of C programs - in particular interpreters - that are portable, maintainable, as well as safe.
  Arcadia Ring 2 is available at <a href="@{siteAddress}/Arcadia/Ring1">michaelheilmann.com/Arcadia/Ring2</a>.
  </p>

@{include("1.files.i")}
@{include("2.further-references.i")}
@{include("3.documentation.i")}
@{include("3.documentation.8.objects.i")}
@{include("3.documentation.8.objects/object.i")}
@{include("3.documentation.8.objects/ByteBuffer/include.content")}
@{include("3.documentation.8.objects/FileSystem/ExistingFilePolicy.i")}
@{include("3.documentation.8.objects/FileSystem/FileAccessMode.i")}
@{include("3.documentation.8.objects/FileSystem/FileHandle.i")}
@{include("3.documentation.8.objects/FileSystem/FilePath.i")}
@{include("3.documentation.8.objects/FileSystem/FileSystem.i")}
@{include("3.documentation.8.objects/FileSystem/FileType.i")}
@{include("3.documentation.8.objects/FileSystem/NonExistingFilePolicy.i")}
@{include("3.documentation.8.objects/ByteBuffer/include.content")}
@{include("3.documentation.8.objects/Collection/include.content")}
@{include("3.documentation.8.objects/List/include.content")}
@{include("3.documentation.8.objects/Map/include.content")}
@{include("3.documentation.8.objects/Set/include.content")}
@{include("3.documentation.8.objects/Stack/include.content")}
@{include("3.documentation.8.objects/String/include.content")}
@{include("3.documentation.8.objects/StringBuffer/include.content")}

  </div>

@{include("footer.i")}
