@{include("./Commons/header-common.i")}

  <link rel='canonical' href='@{siteAddress}/'>
  <title>Michael Heilmann's Project Arcadia</title>
  
  <meta property="og:title" content="Michael Heilmann's Project Arcadia">
  <meta property="og:description" content="Homepage of Michael Heilmann's Project Arcadia">
  <meta name="description" content="Homepage of Michael Heilmann's Project Arcadia">
  <meta name="keywords" content="Arcadia, Procedural Generation, Audials, Visuals, Hapticals, Open Source, Free Software">
  <meta name="author" content="Michael Heilmann">
</head>
<body class="my-index-page-1">
  <header>
    <div class="banner left-column">
      <div>Michael Heilmann's</div>
      <div>Project Arcadia</div>
    </div>
    <div class="center-column"></div>
    <div class="right-column">
      <nav>
        <ul>
          <li><a href="@{siteAddress}/Arcadia">Documentation</a></li>
          <li><a href='https://github.com/michaelheilmann'>GitHub</a</li>
          <li><a href='https://discord.gg/XtPA6pwAsp'>Discord</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <div class="left-column">
    </div> <!-- left-column -->
    <div class="center-column" style="flex-direction: column">
        <h1 style="margin-top: 6rem; margin-bottom: 6rem">News</h1>
        <div class="news">
        @{include("./Arcadia/News/news-2026-03-30.i")}
        @{include("./Arcadia/News/news-2026-03-07.i")}
        <a href="@{siteAddress}/Arcadia/news">Older news ...</a>
        </div>
    </div><!-- center-column -->
    <div class="right-column"></div><!-- right-column -->
  </main>
  @{include("./footer.i")}
</body>
</html>
