  @{include("./Commons/header-common.i")}
  <link rel='stylesheet' href='@{siteAddress}/assets/reset.css?v=3'>
  <link rel='stylesheet' href='@{siteAddress}/assets/index.css?v=3'>
  <link rel='canonical' href='@{siteAddress}/news.html'>
  <title>News</title>
  <style>
    div.news-item {
      display: flex;
      flex-direction: row;
    }
    .news {
      display: flex;
      flex-direction: column;
      row-gap: 6rem;
      column-gap: 6rem;
    }
    .news-item-body {
      margin-top: 0.25rem;
    }
    .news-item-header > h2 {
      margin: 0 !important;
      margin-right: 2rem !important;
    }
  </style>
</head>
<body class="my-content-page-1">
  <header>
  <div>
  <a href="@{siteAddress}/">Home</a>
  </div>
  </header>
  <main>
    <div class="left-column"></div>
    <div class="center-column">
    <h1>News</h1>
  
    <div class="news">
    <div class="news-item">
    
      <div class="news-item-header">
      
        <h2>2025-12-07</h2>
      
      </div>
      
      <div class="news-item-body">
      
        <p>
        Changes to sources of the website are now detected by all CMake backends like Visual Studio, GNU Make, etc.
        </p>
      
      </div>
   
    </div>  

    <div class="news-item">
      <div class="news-item-header">
      
        <h2>2024-02-11</h2>
      
      </div>
      
      <div class="news-item-body">
      
        <p>As the backing system for the website matures, we add more documentation items for the various libraries. As of today, over 250 procedures, objects, and enumeration were documented.</p>
        
        <p>
        When visiting this website (or running the website locally on your machine for quickly referencing the documentation), then you want that website to respect your privacy.
        In particular, you do not want that website to give your PI to companies by requesting assets and libraries from their CDNs:
        Consequently, this webiste removed most external references for to assets and libraries it uses. The following references were removed:
        </p>
        
        <ul>
          <li>Removed references go Google's "static.google.com" for fonts. Fonts are hosted locally.</li>
          <li>Removed references to "polyfill.io" and "cdn.jsdelivr.net" for library loading. The "Polyfill" library was removed and the "MathJax" library is hosted locally.</li>
        </ul>
        
        <p>Currently, only the CDN reference Mathjax remains, which will be adressed shortly.</p>
      
      </div>
   
    </div>

    <div class="news-item">
    
      <div class="news-item-header">
      
        <h2>2023-12-23</h2>
      
      </div>
      
      <div class="news-item-body">
        
        <p>The website was updated. Find below a list of the most important changes.</p>
        
        <ul>
          <li>Fix navigational elements</li>
          <li>Improve site responsiveness in particular on mobile devices with small screens</li>
          <li>Improve layout of specifications</li>
        </ul>
        
      </div>
    
    </div>

    <div class="news-item">

      <div class="news-item-header">
      
      <h2>2023-10-23</h2>
      
      </div>

      <div class="news-item-body">
      
        <ul>
          <li>The website was updated.</li>
          <li>In particular, typography was improved.</li>
          <li>In the course of the next few weeks, the existing documentation that was created so far, will be migrated to this site.</li>
        </ul>
      
      </div>

    </div>
    
    <div class="news-item">

      <div class="news-item-header">
      
      <h2>2023-10-13</h2>
      
      </div>

      <div class="news-item-body">

      <p>
      The website was created.
      </p>
      </div>

    </div>
    
  </div>

  </div>
  <div class="right-column"></div>
  </main>
  <footer>
    <div class="left-column"></div>
    <div class="center-column"></div>
    <div class="right-column">
      <div>Website maintained by @{siteAuthor}.</div>
      <div>Last modified on @{dayOfMonth()} @{monthName()} @{year()}.</div>
    </div>
  </footer>
</body>
</html>
